<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Cart Manager</title>
</head>
<body>
<div align="center" th:object="${customer}">
    <h1>Cart Manager</h1>
    <a th:href="@{/{ID}/list (ID=${customer.customerId})}">Product List</a>
    <br>
    <br>
    <a th:href="@{/{ID}/customer/info/wishlist (ID = ${customer.customerId})}">WishList</a>
    <br>
    <br>
    <th>Checkout:</th>
    <td th:object="${checkout}" th:text="${checkout}"></td>
    <br>
    <br>
    <a th:href="@{/{ID}/customer/info/cart/paid (ID = ${customer.customerId})}">Get Bill</a>
    <br>
    <br>
    <table border="1" cellpadding="10">

        <tr>
            <th>Product ID</th>
            <th>Brand ID</th>
            <th>Description</th>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Date Added</th>
            <th>Date Modified</th>
            <th>Price Unit</th>
            <th>Actions</th>
        </tr>

        <tr th:each="product : ${cartProducts}">
            <td th:text="${product.productId}">Product ID</td>
            <td th:text="${product.brand.brandId}">Brand Id</td>
            <td th:text="${product.description}">Description</td>
            <td th:text="${product.name}">Product Name</td>
            <td th:text="${product.quantity}">Quantity</td>
            <td th:text="${product.dateAdded}">Date Added</td>
            <td th:text="${product.dateModified}">Date Modified</td>
            <td th:text="${product.price}">Price Unit</td>
            <td>
                <a th:href="@{/{cID}/customer/info/cart/remove/{pID}(cID=${customer.customerId}, pID=${product.productId})}">Remove</a>
                <a th:href="@{/{cID}/customer/info/cart/addtowishlist/{pID}(cID=${customer.customerId}, pID=${product.productId})}">AddtoWishlist</a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>