<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>List</title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">


    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <link href="/css/productcss/list.css" rel="stylesheet">

</head>

<body>

<div class="header">
    <div class="wrapper">
        <div class="logo">
            <a th:href="@{/{id}/list (id=${customer.customerId})}">
                <img alt="" src="https://www.opencart.com/application/view/image/icon/opencart-logo.png">
            </a>
        </div>

        <div class="searchbar">
            <form method="post" th:action="@{/{ID}/list/search(ID=${customer.customerId})}" th:object="${product}">
                <table border="0" cellpadding="10">
                    <tr>
                        <td>
                            <input class="search-form" name="Type product ID" placeholder="Seach" th:field="*{name}"
                                   type="text">
                        </td>
                        <td colspan="2">
                            <button class="searchbtn" type="submit">
                                <a href="">
                                    <i aria-hidden="true" class="fa fa-search"></i>
                                </a>
                            </button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>

        <div class="otherbtn" th:object="${customer}">
            <button class="cartbtn" type="submit">
                <a th:href="@{/{id}/list (id=${customer.customerId})}">
                    <i aria-hidden="true" class="fa fa-shopping-cart"></i>
                </a>
            </button>

            <button class="wishlistbtn" type="submit">
                <a th:href="@{/{id}/list (id=${customer.customerId})}">
                    <i aria-hidden="true" class="fa fa-heart"></i>
                </a>
            </button>
        </div>
    </div>
</div>
</div>

<div class="menu">
    <div class="wrapper">
        <ul class="menulist">
            <li><a href="">BÚN ĐẬU</a></li>
            <li><a href="">CHÁO LÒNG</a></li>
            <li><a href="">TIẾT CANH</a></li>
            <li><a href="">THỊT CHÓ</a></li>
            <li><a href="">MẮM TÔM</a></li>
            <li><a href="">RIỀNG MẺ</a></li>
        </ul>
    </div>
</div>

<div class="slideshow-container">

    <div class="mySlides fade">
        <div class="numbertext">1 / 2</div>
        <img src="https://demo.opencart.com/image/cache/catalog/demo/banners/iPhone6-1140x380.jpg" style="width:100%">
        <div class="text">Caption Text</div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext">2 / 2</div>
        <img src="https://demo.opencart.com/image/cache/catalog/demo/banners/MacBookAir-1140x380.jpg"
             style="width:100%">
        <div class="text">Caption Two</div>
    </div>

    <!-- <div class="mySlides fade">
      <div class="numbertext">3 / 3</div>
      <img src="img_mountains_wide.jpg" style="width:100%">
      <div class="text">Caption Three</div>
    </div>
     -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>

</div>
<br>

<div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <!-- <span class="dot" onclick="currentSlide(3)"></span>  -->
</div>

<div align="center">
    <br><br>
    <a th:href="@{/{id}/list/new (id=${customer.customerId})}">Create New Product</a>
    <br>
    <br>
    <a th:href="@{/{ID}/customer/info (ID = ${customer.customerId})}">Customer</a>
    <br><br>
</div>

<div class="container">
    <div class="wrapper">
        <div class="col" th:each="brand : ${brands}">
            <!--            <img src="" alt="" style="width:100%">-->
            <h1 th:text="${brand.brandName}"></h1>
            <p th:text="${brand.brandId}"></p>
            <p th:text="${brand.description}"></p>
        </div>
    </div>

</div>

<div class="footer"></div>

<script>
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        if (n > slides.length) {
            slideIndex = 1
        }
        if (n < 1) {
            slideIndex = slides.length
        }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
    }
</script>
</body>


</html>